<!-- <mat-card appearance = 'raised'> -->
<mat-form-field color="primary">
    <mat-label>Enter Post</mat-label>
    <textarea 
        matInput 
        rows="6" 
        appearance="fill"
        [(ngModel)]="enteredValue" 
        placeholder="Type your post here!"></textarea>
    <button 
        mat-raised-button
        color="primary"
        (click)="onAddPost()">Save Post</button>
    <mat-hint>Hint goes here</mat-hint>
</mat-form-field>
<!-- </mat-card> -->

<p>{{ postData }}</p>

<!-- <p>
    <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </mat-card>
</p>


<p>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
</p>
   -->