<mat-card appearance = 'raised'>
    <mat-form-field color="primary">
        <mat-label>Enter Post Title</mat-label>
        <input 
            matInput 
            [(ngModel)]="enteredTitle" 
            placeholder="Enter your title here!">
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>Enter Post Content</mat-label>
        <textarea 
            matInput 
            rows="6" 
            appearance="fill"
            [(ngModel)]="enteredContent" 
            placeholder="Type your post here!"></textarea>
    </mat-form-field>
    <button 
        mat-raised-button
        color="accent"
        (click)="onAddPost()">Save Post</button>
</mat-card>
